li {
    list-style: none;
}

.cordobapatrimonio ul li a {
    display: inline-block;
}

.cordobapatrimonio ul li a:hover {
    color: rgb(85, 1, 85);
    zoom: 120%;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}